body a{
  color:#c60707;
}

body a:hover{
  color:#fa5757;
  text-decoration: none;
}

.container {
  min-height: 100%;
  max-width: 65% !important;
  padding-top: 20px;
}

@media only screen and (max-width: 767px) {
  .container{
    max-width: 100% !important;
  }
}


/*Header */
header {
  margin-top: 20px;
}

header .blog-logo {
  max-width: 150px;
  border-radius: 50%;

  background-size: cover !important;
  background-position: center center !important;
}

header .blog-title{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 3em;
  color: #000000;
}

@media only screen and (max-width: 767px) {
  header .blog-title{
    font-size: 2em;
  }
}

.contacts{
  margin-bottom: 2px;
}

.contacts a{
  color: #000000;
  margin-left: 8px;
  margin-right: 8px;
  display: inline;
}

.contacts a:hover{
  color: #c60707;
}

/*nav*/
nav {
  border-bottom: 2px solid #888888;
  font-family: 'Roboto', sans-serif;
}

.nav-link {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2em;
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
}

nav span{
  font-size: 1.75em;
}

nav a:hover{
  color: #c60707;
}


/*main*/
main {
  font-family: 'Lato', sans-serif;
  margin-top: 10px;
}



/*section article*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
section {
    margin-bottom: 5em;
}

.post-title {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/*  Blog list*/
/*  ----------------------------------------*/

.blog-list .post-title {
    font-size: 3em;
    margin-bottom: 1.5em;
}


@media only screen and (max-width: 767px) {
 .blog-list .post-title{
    font-size: 1.75em;
  }
}

.blog-list .post-title a {
  color : #000000;
  transition: 0.2s;
}

.blog-list .post-title a:hover{
  text-decoration: none;
  color: #ff1818;
}
/*  ----------------------------------------*/

.post-content{
  padding-bottom: 30px;
  font-size: 1.2em;
  border-bottom: 1px solid #c3c3c3;
  text-align: justify;
}

.post-preview p {
  color:#4d4d4d;
}

.post-detail {
  margin-bottom: 1em;
}

.date {
  margin-left: 15px;
}

@media only screen and (max-width: 767px) {
  .date{
    font-size: 0.8em;
  }
}

.date-text {
  margin-left: 3px;
  color:#c60707;
}

.tags span {
  margin-left: 2px;
  margin-right: 2px;
}

@media only screen and (max-width: 767px) {
  .tags{
    margin-left: 2px;
    margin-right: 2px;
    font-size: 0.8em;
  }
}

.tag-divider {
  color:#90908f;
  font-weight: bold;
}

/*  Blog Detail*/
/*  ----------------------------------------*/
.blog-detail .post-title {
    font-size : 3.5em;
    margin-bottom: 1em;
}

.blog-detail .post-content{
    font-family: 'Lato', sans-serif;
}
.blog-detail .post-content {
    margin: 0 auto;
    max-width: 75%;
    font-size: 1.3em;
}

.blog-detail .post-content p{
    line-height: 1.75em;
    margin-bottom: 1.3em;
}

.blog-detail .post-detail {
    margin-bottom: 2em;
}
/*  ----------------------------------------*/



/*ABOUT */
/*  ----------------------------------------*/
.about .about-content {
    font-size : 3.5em;
    margin-bottom: 1em;
}

.about .about-content{
    font-family: 'Lato', sans-serif;
}

.about .about-content {
    margin: 0 auto;
    max-width: 75%;
    font-size: 1.3em;
}

.about .about-content p{
    line-height: 1.75em;
    margin-bottom: 1.3em;
}

.about .about-content {
    margin-bottom: 2em;
}
/*  ----------------------------------------*/
