{% extends 'base.html' %}

{% block title %} About {% endblock title %}


{% block content %}

<section class="about">

    <div class="about-content text-justify">
      {% for about in object_list %}
        {% autoescape off%}
          {{ about.content }}
        {% endautoescape %}
      {% endfor %}
    </div>
</section>

{% endblock content %}
