{% load staticfiles %}
<html>
<head>
  <title>{% block title %}{% endblock title %} | Adylan Roaffa Ilmy</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <!--  Fontawesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  <!--  Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">

</head>
<body>
    <div class="container">
      <header>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <a href="/"><img class="blog-logo mb-2 mx-auto d-block" src="{% static 'content/logofix.jpg' %}" alt="Adylan Roaffa"/></a>


          <h1 class=" blog-title mb-4 text-center">Adylan Roaffa Ilmy</h1>
          <div class="contacts mb-5">
            <div class="text-center">
              <a href="http://www.twitter.com/odidang"><i class="fab fa-twitter fa-lg"></i></a>
              <a href="http://www.instagram.com/adylanrff"><i class="fab fa-instagram fa-lg"></i></a>
              <a href="http://www.github.com/adylanrff"><i class="fab fa-github fa-lg"></i></a>
              <a href="https://www.linkedin.com/in/adylan-roaffa/"><i class="fab fa-linkedin fa-lg"></i></a>
            </div>
          </div>
      </header>

      <nav class="nav mb-5 justify-content-center ">
        <a class="nav-item nav-link " href="{% url 'blogs' %}">Blog </a>
        <span>|</span>
        <a class="nav-item nav-link" href="#">Projects </a>
        <span>|</span>
        <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
      </nav>

      <main>

         {% block content %}
         {% endblock content %}

        </main>



      </div>







<link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css' %}" />
<script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>
