{% extends 'base.html' %}

<!--  Title-->
{% block title %} {{ object.title }} {% endblock title %}

{% block content %}
<section class="blog-detail">
    <div class="row post-detail">
      <div class="date">
        <i class="fa fa-calendar-alt fa-xs date-logo" aria-hidden="true"></i>
        <span class="date-text">{{object.date|date:"j N Y"}}</span>
      </div>

      <div class="tags col align-self-end text-right">
        <i class="fa fa-hashtag fa-xs" aria-hidden="true"></i>
        {% for item in object.tags.slugs %}
        <span><a href="#">{{item}}</a></span> <span class="tag-divider">|</span>
        {% endfor %}
      </div>

    </div>

    <h1 class="post-title text-center">{{ object.title }}</h1>
    <hr />

    <div class="post-content">
      {% autoescape off%}
        {{ object.content }}
      {% endautoescape %}
    </div>

</section>
{% endblock content %}
