{% extends 'base.html' %}

{% block title %} Blogs {% endblock %}

{% block content %}

  {% for post in object_list %}
    <section class="blog-list">
    <h1 class="post-title mb-4"><a href="{% url 'post_detail' post.pk post.slug %}"> {{post.title}} </a></h1>
    <div class="post-content">
      <div class="post-preview">
        {% autoescape off%}
          {{ post.content|truncatewords:35|slice:"-4" }} <a href="{% url 'post_detail' post.pk post.slug %}">[...] </a></h1>
        {% endautoescape %}
      </div>
    </div>

    <div class="row post-detail">
      <div class="date">
        <i class="fa fa-calendar-alt fa-xs date-logo" aria-hidden="true"></i>
        <small class="date-text">{{post.date|date:"j N Y" }}</small>
      </div>

      <div class="tags col align-self-end text-right">
        <i class="fa fa-hashtag fa-xs" aria-hidden="true"></i>
        {% for item in post.tags.slugs %}
        <span><a href="#">{{item}}</a></span> <span class="tag-divider">|</span>
        {% endfor %}
      </div>
    </div>

    </section>
  {% endfor %}

{% endblock %}
